<nav class="navbar navbar-expand-md navbar-dark bg-green px-4 py-3">
  <div class="container-fluid">

    <a class="navbar-brand me-5" href="#">Agenda</a>

    <!-- botão hamburguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- menu -->
    <div class="collapse navbar-collapse" id="navbarMenu">

      <div class="navbar-nav gap-3 ms-md-5">
        <a class="nav-link d-md-none nav-white fw-semibold" href="#">Login</a>

        <a class="nav-link nav-white fw-semibold" href="#">Início</a>
        <a class="nav-link nav-white fw-semibold" href="#">Mapa</a>
        <a class="nav-link nav-white fw-semibold" href="#">Incidentes</a>

      </div>

      <button class="btn btn-light ms-auto d-none d-md-block px-4 fw-bold btn-login">
        Login
      </button>

    </div>

  </div>
</nav>