<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<main class="hero">
  <div class="container py-3 py-md-5">
    <div class="row align-items-stretch">

      <!-- Coluna de conteúdo textual -->
      <div class="col-12 col-md-6 d-flex flex-column hero-text">
        <h1 class="order-1">GeoRecife</h1>
        <p class="mb-mobile mb-md-0 order-2 text-justify">
          GeoRecife é uma plataforma desenvolvida para monitorar a cidade, registrando ocorrências como acidentes, criminalidade e áreas de risco, oferecendo informações atualizadas que ajudam na tomada de decisões e na melhoria da segurança urbana.
        </p>

        <!-- Botão somente desktop -->
        <div class="d-none d-md-flex justify-content-start order-3">
          <a href="/login"><button class="btn btn-success btn-lg px-4 bg-green btn-aument fw-bold">Faça Login</button></a>
        </div>
      </div>

      <!-- Coluna da imagem -->
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-3 order-md-2">
        <img src="/assets/img/mapa3.png" class="img-fluid rounded order-1 order-md-1">
      </div>

      <!-- Botão somente mobile -->
      <div class="col-12 d-flex d-md-none justify-content-center mt-5 order-4">
        <a href="/login"><button class="btn btn-success btn-lg px-4 bg-green btn-aument fw-bold">Faça Login</button></a>
      </div>

    </div>
  </div>

  <div class="container py-4">
    <h2 class="text-center mb-5">Sobre Nós</h2>

    <div class="row g-4">

      <div class="col-12 col-md-4">
        <h4>Heitor</h4>
        <p>Responsável pela pesquisa de dados e análise de ocorrências.</p>
      </div>

      <div class="col-12 col-md-4">
        <h4>Vanessa, Lufyo e Lieberty</h4>
        <p>Desenvolvimento Front-end, interfaces, validando o Front-end.</p>
      </div>

      <div class="col-12 col-md-4">
        <h4>Lieberty e Ananda</h4>
        <p>Desenvolvimento Back-end, APIs e lógica de negócios.</p>
      </div>

      <div class="col-12 col-md-4">
        <h4>Caio e Heitor</h4>
        <p>Administração e modelagem do banco de dados.</p>
      </div>

      <div class="col-12 col-md-4">
        <h4>Geovanne</h4>
        <p>Integração de sistemas entre front-end e back-end.</p>
      </div>

      <div class="col-12 col-md-4">
        <h4>Geovanne</h4>
        <p>Testes e controle de qualidade da plataforma.</p>
      </div>

    </div>

    <!-- Botão Get Started -->
    <div class="d-flex justify-content-center mt-4">
      <a href="/login"><button class="btn btn-success px-4 btn-lg bg-green btn-aument fw-bold">Faça Login</button></a>
    </div>

  </div>
</main>

<%- include('./includes/footer'); %>